@font-face {
    font-family: poppinsLight;
    src: url(./fonts/Poppins-Light.ttf);
}
@font-face {
    font-family: poppinsMedium;
    src: url(./fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: poppinsBold;
    src: url(./fonts/Poppins-Bold.ttf);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.attribution {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: end;
    font-family: poppinsLight;
    font-size: 7pt;
}
@media only screen and (max-width: 10660px){
p{
    margin: 0;
}
html{
    height: 100%;
}
body{
    display: grid;
    background-color: hsl(0, 100%, 74%);
    background-image: url(./images/bg-intro-desktop.png);
    background-size: 100% 100%;
    height: 99%;
    grid-template: 100% / 50% 50%;
}
.error_text{
    text-align: right;
    width: 100%;
    height: auto;
    color: hsl(0, 100%, 74%);
    font-size: 9pt;
    margin-top: 0;
    margin-bottom: 2%;
    font-family: 'poppinsMedium';
    font-style: italic;
}

.form-input{
    margin: 2% 0;
    width: 86%;
    height: 50px;
    padding: 0 6% 0 7%;
    font-size: 12pt;
    font-family: 'poppinsMedium';
    border: 1.9px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
    caret-color:  hsl(248, 32%, 49%);
}
.form-input:focus {
    color: #2b3035;
    background-color: #fff;
    border-color: hsl(248, 32%, 49%);
    outline: 0;
    box-shadow: 0 0 0 0.1rem hsl(248deg 32% 49%);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.form-input:invalid {
    color: #2b3035;
    background-color: rgb(255, 225, 225);
    border-color: hsl(0, 100%, 74%);
    outline: 0;
    box-shadow: 0 0 0 0.1rem hsl(0, 100%, 74%); 
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
}
.icon_error{
    background: url(./images/icon-error.svg) no-repeat center;
    background-position-x: right;
    background-origin: content-box;
}
/*.form-input:valid {
    color: #2b3035;
    background-color: hsl(248, 100%, 95%);;
    border-color: hsl(248, 32%, 49%);
    outline: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, background-color 0.15s ease-in-out;
}*/

.text_box{
    
margin: auto;
    
margin-left: 20%;
    
margin-right: 5%; 
}
.content{
    height: auto;
    width: 75%;
    position: relative;
    margin: auto;
    margin-left: 0;
}
.bold{
    font-family: poppinsBold;
}
.medium{
    font-family: poppinsMedium;
}
.Light{
    font-family: poppinsLight;
}
.left-block{
    color: white;
    position: relative;
    display: flex;
}
.right-block{
    position: relative;
    display: flex;
}
.maintext{
    font-size: 45pt;
    margin-bottom: 5%;
    line-height: 1.1;
}
.main-text2{
    font-size: 15pt;
}
.card{
    background-color: white;
    padding: 4% 5%;
    border-radius: 15px;
    height: auto;
    width: 100%;
    box-sizing:border-box;
}
.subscribe-button{
    width: 100%;
    height: 80px;
    background-color: hsl(248, 32%, 49%);
    color: white;
    border: none;
    border-radius: 15px;
    margin: 0 0 5% 0;
    top: 0;
    box-shadow: 0em 0.7em 0px 0px rgb(40 36 70 / 18%);
    position: relative;
    transition: top 0.12s ease-in-out, box-shadow 0.12s ease-in-out, background-color 0.12s ease-in-out;
}
.subscribe-button:active{
    box-shadow: 0em 0.3em 0px 0px rgb(40 36 70 / 18%);
    top: 6px;
    background-color: hsl(248, 32%, 55%);
    transition: top 0.12s ease-in-out, box-shadow 0.12s ease-in-out, background-color 0.12s ease-in-out;
}
.text-button{
    font-size: 13pt;
    letter-spacing: 1px;
}
.register{
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    height: 11%;
    color: white;
    font-family: poppinsMedium;
    font-size: 14pt;
    box-shadow: 0em 0.4em 0px 0px rgb(11 155 92);
    border: none;
    border-radius: 8px;
    margin-bottom: 3%;
    margin-top: 3%;
    position: relative;
    padding: 3%;
    transition: top 0.12s ease-in-out, box-shadow 0.12s ease-in-out, background-color 0.12s ease-in-out;
    top: 0;
}
.register:active{
    top: 4px;
    background-color: hsl(154, 61%, 59%);
    box-shadow: 0em 0.2em 0px 0px rgb(11 155 92);
    transition: top 0.12s ease-in-out, box-shadow 0.12s ease-in-out, background-color 0.12s ease-in-out;
}
.bottom-text{
    text-align: center;
    font-size: 10pt;
    color: hsl(246, 25%, 77%);
}
}
@media only screen and (max-width: 800px){
    p{
        margin: 0;
    }
    html{
        height: 99%;
    }
    body{
        background-color: hsl(0, 100%, 74%);
        background-image: url(./images/bg-intro-mobile.png);
        background-size: 100% 150%;
        height: auto;
        margin: 0 auto;
        display: block;
        padding-bottom: 40px;
    }
    .right-block{
        text-align: center;
        margin: 0 auto;
        /* padding: 0 20%; */
        box-sizing: border-box;
        /* margin-bottom: 200px; */
    }
    .text_box{    
    margin: auto;   
    }
        
    .form-input{
        margin: 4% 0;
        width: 86%;
        height: 50px;
        padding: 0 6% 0 7%;
        font-size: 11pt;
        font-family: 'poppinsMedium';
        border: 1.9px solid hsl(246, 25%, 77%);
        border-radius: 5px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
    }
    .form-input:focus {
        color: #2b3035;
        background-color: #fff;
        border-color: hsl(248, 32%, 49%);
        outline: 0;
        box-shadow: 0 0 0 0.1rem hsl(248deg 32% 49%);
    }
    
    .content{
        height: auto;
        width: 100%;
        position: relative;
        margin: auto;
        margin-left: 0;
    }
    .bold{
        font-family: poppinsBold;
    }
    .medium{
        font-family: poppinsMedium;
    }
    .Light{
        font-family: poppinsLight;
    }
    .left-block{
        margin: 0 auto;
        margin: 0 auto;
        color: white;
        padding: 15% 8%;
        text-align: center;
    }
    .maintext{
        font-size: 26pt;
        margin-bottom: 8%;
        line-height: 1.1;
    }
    .main-text2{
        font-size: 12pt;
    }
    .card{
        background-color: white;
        padding: 4% 5%;
        border-radius: 15px;
        height: auto;
        width: 75%;
        box-sizing:border-box;
        margin: 0 auto;
        /* margin-bottom: 20%; */
    }
    .subscribe-button{
        width: 75%;
        height: 60px;
        background-color: hsl(248, 32%, 49%);
        color: white;
        border: none;
        border-radius: 15px;
        margin: 0% 0 7% 0;
        box-shadow: 0em 0.7em 0px 0px rgb(40 36 70 / 18%);
        position: relative;
        padding: 0 10%;
    }
    .subscribe-button:active{
        box-shadow: 0em 0.3em 0px 0px rgb(40 36 70 / 18%);
        top: 6px;
    }
    .text-button{
        font-size: 11pt;
        letter-spacing: 1px;
    }
    .register{
        width: 100%;
        background-color: hsl(154, 59%, 51%);
        height: 11%;
        color: white;
        font-family: poppinsMedium;
        font-size: 11pt;
        box-shadow: 0em 0.4em 0px 0px rgb(11 155 92);
        border: none;
        border-radius: 8px;
        margin-bottom: 3%;
        position: relative;
        padding: 6%;
        margin-top: 5%;
    }
    .register:active{
        top: 4px;
        box-shadow: 0em 0.2em 0px 0px rgb(11 155 92);
    }
    .bottom-text{
        text-align: center;
        font-size: 8pt;
        color: hsl(246, 25%, 77%);
        margin-top: 10%;
    }
}