@font-face {
  font-family: HankenMedium;
  src: url("../content/assets/fonts/static/HankenGrotesk-Medium.ttf");
}
@font-face {
  font-family: HankenBold;
  src: url("../content/assets/fonts/static/HankenGrotesk-Bold.ttf");
}
@font-face {
  font-family: HankenExtraBold;
  src: url("../content/assets/fonts/static/HankenGrotesk-ExtraBold.ttf");
}

@property --angle {
  syntax: "<angle>";
  initial-value: 165deg;
  inherits: false;
}
@property --gradient-perc {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}
.general{
    --blue: hsl(224, 30%, 27%);
    --violet: hsl(224, 30%, 27%);
}

@media only screen and (max-width: 10660px) {
  body {
    background-color: white;
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  p {
    margin: 0;
  }
  .root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
  }
  .main-block {
    background-color: #ffffff;
    box-shadow: 5px 15px 30px hsl(241deg 81% 54% / 8%);
    width: 720px;
    height: 510px;
    display: grid;
    grid: 100% / 50% 50%;
    border-radius: 30px;
  }
  .left-block {
    background: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%) 0%,
      hsl(241, 81%, 54%) 100%
    );
    height: 100%;
    width: 100%;
    border-radius: inherit;
    display: grid;
    grid: 10% 55% 12% 23% / 100%;
    text-align: center;
    justify-items: center;
    padding: 35px;
    box-sizing: border-box;
  }
  .attribution {
    font-family: HankenMedium;
    font-size: 11px;
    text-align: center;
    width: 100%;
    color: hsl(224, 30%, 27%);
    position: relative;
    top: 40px;
  }
  .attribution a {
    font-family: HankenBold;
    color: hsl(165.81deg 96.88% 37.65%);
  }
  .medium {
    font-family: HankenMedium;
  }
  .bold {
    font-family: HankenBold;
  }
  .extra-bold {
    font-family: HankenExtraBold;
  }
  .white {
    color: white;
  }
  .pale {
    color: hsl(241, 100%, 89%);
  }
  .dark {
    color: hsl(241, 38%, 75%);
  }
  .black {
    color: hsl(224, 30%, 27%);
  }
  .shapeInfo {
    width: 200px;
    display: flex;
    grid: 80% 20% / 100%;
    height: 200px;
    border-radius: 500px;
    background: linear-gradient(
      to bottom,
      hsla(256, 72%, 46%, 1) 0%,
      hsla(241, 72%, 46%, 0) 100%
    );
    align-self: center;
    flex-direction: column;
    justify-content: center;
  }
  .right-block {
    padding: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .object-of-result {
    width: 100%;
    padding: 18px;
    display: flex;
    font-size: 18px;
    margin: 8px 0;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .element-of-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  button {
    font-family: "HankenMedium";
    color: white;
    font-size: 18px;
    background: linear-gradient(
        to bottom,
        hsl(224, 30%, 27%) 0%,
        hsl(224, 30%, 27%) 100%
    );
    border-radius: 100px;
    width: 100%;
    height: 55px;
    border: 0;
  }
  button:hover {
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%) 0%,
        hsl(241, 81%, 54%) 100%
    );
  }
  .px24 {
    font-size: 24px;
  }
  .px70 {
    font-size: 70px;
  }
  .px18 {
    font-size: 18px;
  }
  .px28 {
    font-size: 28px;
  }
  .padding {
    padding: 0 18px;
  }
}
@media only screen and (max-width: 760px) {
  body {
    background-color: white;
    position: unset;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .main-block {
    border-radius: 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .shapeInfo {
    width: 150px;
    display: flex;
    height: 150px;
    border-radius: 500px;
    background: linear-gradient(
      to bottom,
      hsla(256, 72%, 46%, 1) 0%,
      hsla(241, 72%, 46%, 0) 100%
    );
    align-self: center;
    flex-direction: column;
    justify-content: center;
  }
  .px24 {
    font-size: 20px;
  }
  .px70 {
    font-size: 55px;
  }
  .px18 {
    font-size: 16px;
  }
  .px28 {
    font-size: 24px;
  }
  .padding {
    padding: 0 10%;
  }
  .left-block {
    background: linear-gradient(
      to bottom,
      hsl(252, 100%, 67%) 0%,
      hsl(241, 81%, 54%) 100%
    );
    height: 365px;
    width: 100%;
    border-radius: 0 0 30px 30px;
    display: grid;
    grid: 10% 55% 12% 23% / 100%;
    text-align: center;
    justify-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .margin {
    margin: 20px 0;
  }
  .attribution {
    font-family: HankenMedium;
    font-size: 11px;
    text-align: center;
    display: flex;
    width: 100%;
    background-color: rgb(38 38 38);
    color: #ffffff;
    top: 0;
    height: 40px;
    justify-content: center;
    align-items: center;
  }
  .attribution a {
    font-family: HankenBold;
    color: hsl(165.81deg 96.88% 37.65%);
  }
  .root{
    display: block;
  }
  button {
    font-family: "HankenMedium";
    color: white;
    font-size: 18px;
    background: linear-gradient(
        to bottom,
        hsl(224, 30%, 27%) 0%,
        hsl(224, 30%, 27%) 100%
    );
    border-radius: 100px;
    width: 100%;
    height: 55px;
    border: 0;
  }
  button:hover {
    background: linear-gradient(
        to bottom,
        hsl(224, 30%, 27%) 0%,
        hsl(224, 30%, 27%) 100%
    );
  }
  button:active{
    background: linear-gradient(
        to bottom,
        hsl(252, 100%, 67%) 0%,
        hsl(241, 81%, 54%) 100%
      );
  }
}
